<mat-toolbar>
  <span style="size: letter">Homemade</span>
  <button mat-button *ngIf="isLoggedIn" routerLink="/perfil" routerLinkActive="active">Mi perfil</button>
  <button mat-button *ngIf="isLoggedIn" routerLink="/" routerLinkActive="active">Mis recetas</button>
  <button mat-button *ngIf="isLoggedIn" routerLink="/menbresia" routerLinkActive="active">Membresía </button>
  <button mat-button *ngIf="isLoggedIn" routerLink="/menu" routerLinkActive="active">Menú </button>
  <button mat-button *ngIf="isLoggedIn" routerLink="/recipe/create" routerLinkActive="active">Agregar Receta</button>
  <button mat-button routerLink="recipe/search" routerLinkActive="active">Buscar</button>
  <button mat-button *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active">Iniciar Sesión  </button>
  <button mat-button *ngIf="!isLoggedIn" routerLink="/register" routerLinkActive="active">Registrarse</button>
  <a mat-button *ngIf="isLoggedIn" href (click)="logout()">Cerrar Sesión</a>
</mat-toolbar>
<router-outlet></router-outlet>
