<h1> &nbsp; Editar Receta</h1>
<h2> &nbsp; Nombre de la receta: Papa Rellena</h2>
<mat-card style="width: 1200px" >
  <mat-card-content>
    <div class ="wrapper">
      <div class ="box">
        <br>
        <img src="https://i.pinimg.com/originals/06/e2/20/06e220128c5bd22ac2b734dcba5ec04c.jpg" width="120" height="120" alt="">
        <h2><b>Arroz chaufa</b></h2>
        <p>Sencilla y rápida de preparar</p>
        <div class ="object">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
        </div>
      </div>
      <mat-card style="">
        <h3 >Una forma de sorprender a la familia o los amigos es preparando una deliciosa Papa Rellena. Es un plato tradicional de nuestro país y que a todos les encanta. Por eso, a continuación te damos la receta y te dejamos un video referencial para que puedas disfrutar de esta rica comida.</h3>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
<br>
<mat-card style="width: 800px">
  <div class="container">
    <label><b>Nombre de la receta: </b></label>
    <input type="text" placeholder="Cambiar nombre" required>
    <br>
    <button type="submit" class="btnsubcncl">Guardar</button>
  </div>
</mat-card>
<br>
<mat-card style="width: 800px">
  <div class="container">
    <label ><b>Ingredientes</b></label>
    <input type="text" placeholder="Cambiar Ingredientes"  required>
    <input type="text" placeholder="Cantidad: "  required>
    <br>
    <button type="submit" class="btnsubcncl">Agregar</button>
  </div>
</mat-card>
<br>
<mat-card style="width: 800px">
  <div class="container">
    <label> <b> Pasos</b></label>
    <input type="text" placeholder="Cambiar pasos" required>
    <br>
    <button type="submit" class="btnsubcncl">Agregar</button>
  </div>
</mat-card>
<br>
