<mat-grid-list cols="1" rowHeight="3:0.5" class="ini">
  <br>
  <mat-grid-tile>
    <mat-card class="titulo">
      <mat-grid-list cols="2">
        <mat-grid-tile>
          <mat-card-title class="title">Arroz chaufa</mat-card-title>
        </mat-grid-tile>
        <mat-grid-tile>
          <img mat-card-image class="imagen" src="https://i.pinimg.com/originals/06/e2/20/06e220128c5bd22ac2b734dcba5ec04c.jpg">
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Ingredientes:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let ingredient of ingredients">
            <span>{{ingredient.name}}, Cantidad: {{ingredient.quantity}}</span>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Procedimiento:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let stepRecipe of stepRecipes">
            <span>{{stepRecipe.instructions}}</span>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
